.rounded-large {
  border-radius: 1rem;
}

.bg-card {
  position: relative;
  height: 150px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-image: url('/assets/lms-banner_2.jpg');
  background-size: cover;
  background-position: center;
}

.bg-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/lms-banner_2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
  height: 200px;
  width: 100%;
}

.bg-card-content {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  width: 100%;
}

.bg-card-b {
  background-image: url('https://lh3.googleusercontent.com/CAW8df0-OQi3LCK0yKewayBIXwGEJl3RceztrFQtQ1uDk-qv1cStc4PlPfscT408dRnqz20f43XkRoIa_5nom0bVJR4VFNF1crJ-6sOnQzbW-DlNrSjF=w1200-rj');
  background-size: cover;
}