<div class="animate-reveal [animation-delay:0.2s] flex justify-center lg:justify-start mt-2 mb-5">
     <div class="inline-flex items-center px-3 py-1.5 border border-black/10 rounded-full bg-white/5 backdrop-blur-lg transform transition-transform ">
        <div class="w-2 h-2 rounded-full bg-violet-500 animate-pulse"></div>
        <span class="ml-2 text-sm sm:text-sm text-black/70 font-semibold tracking-wider">The Ultimate Learning Management System</span>
    </div>
</div>
