<%# <div class="animate-reveal [animation-delay:0.2s] flex justify-center lg:justify-start mt-2 mb-5">
     <div class="inline-flex items-center px-3 py-1.5 border border-black/10 rounded-full bg-white/5 backdrop-blur-lg transform transition-transform ">
        <div class="w-2 h-2 rounded-full bg-violet-500 animate-pulse"></div>
        <span class="ml-2 text-sm sm:text-sm text-black/70 font-semibold tracking-wider">The Ultimate Learning Management System</span>
    </div>
</div> %>

<div class="animate-reveal [animation-delay:0.2s] flex justify-center lg:justify-start mt-2 mb-5">
  <div class="inline-flex items-center px-3 py-1.5 border border-black/40 rounded-full bg-white/5 backdrop-blur-lg transform transition-transform shadow-lg"
      style="background: linear-gradient(135deg, rgba(75,85,99,0.18) 0%, rgba(229,231,235,0.13) 100%); box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);">
    <div class="w-2 h-2 rounded-full bg-violet-500 animate-pulse"></div>
    <span class="ml-2 text-sm sm:text-sm text-black/70 font-semibold tracking-wider">The Ultimate Learning Management System</span>
  </div>
</div>